@import '../../../helpers/variables.module.scss';

.logo {
    @media screen and (min-width: 768px) {
        width: 94px;
        height: 48px;
    }
}

.openMenu {
    padding-top: 4px;
    fill: var(--icon-menu-open);
    transition: fill 500ms ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $accentColor;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.closeMenu {
    padding-top: 4px;
    stroke: var(--icon-menu-close);
    transition: stroke 500ms ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
        stroke: $accentColor;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.heart_favorite {
    fill: $accentColor;
}

.logout {
    display: block;
    fill: $lightColor;
    opacity: 0.6;
    stroke: $darkColor;
    stroke: $accentColor;
    fill: $accentColor;
}

.search_news {
    position: absolute;
    right: 8px;
    bottom: 8px;
    @media (min-width: 768px) {
        right: 58px;
        bottom: 10px;
    }
    @media (min-width: 1280px) {
        right: 333px;
        bottom: 11px;
    }
}

.search_reset {
    position: absolute;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
    &:hover,
    &:focus {
        stroke: $accentColor;
    }

    @media (min-width: 768px) {
        right: 58px;
        bottom: 10px;
    }
    @media (min-width: 1280px) {
        right: 332px;
    }
}

.iconAddPet {
    background-color: $accentColor;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        width: 24px;
        height: 24px;
        box-sizing: content-box;
        padding: 10px;
        margin-left: 12px;
    }
}

.male {
    display: block;
    margin-top: 16px;
    margin-bottom: 12px;
    width: 40px;
    height: 40px;

    @media (min-width: 768px) {
        width: 60px;
        height: 60px;
    }
}

.iconEditAvatar {
    cursor: pointer;
    fill: $accentColor;
    margin-right: 8px;
}

.iconClose {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: auto;
    border: #111;
    fill: var(--text-color);

    &:hover,
    &:focus {
        fill: #111;
    }
}

.iconCloseAddNotice {
    width: 28px;
    height: 28px;

    @media screen and (min-width: 768px) {
        width: 36px;
        height: 36px;
    }
}

.iconDeleteNotice {
    margin-left: 13px;
    fill: #f59256;
}

.google {
    display: flex;
    margin: 0 auto 6px;
    box-sizing: content-box;
    background-color: $lightColor;
    padding: 10px;
    cursor: pointer;
    border: 1px solid $accentColor;
    border-radius: 40px;

    &:hover,
    &:focus {
        background-color: rgba($color: #ff6101, $alpha: 0.15);
        border: 1px solid #c14d05;
    }

    @media screen and (min-width: 768px) {
        display: inline-block;
    }
}

.iconAccount {
    fill: $lightColor;
}

.iconDelete {
    padding: 2px;
    fill: $accentColor;

    @media screen and (min-width: 768px) {
    }
}

.iconFacebook {
    display: flex;
    margin: 0 auto 6px;
    box-sizing: content-box;
    background-color: $lightColor;
    fill: #3b5998;
    stroke: #3b5998;
    padding: 10px;
    cursor: pointer;
    border: 1px solid $accentColor;
    border-radius: 40px;

    &:hover,
    &:focus {
        background-color: rgba($color: #ff6101, $alpha: 0.15);
        border: 1px solid #c14d05;
    }

    @media screen and (min-width: 768px) {
        display: inline-block;
    }
}

.iconEye {
    display: inline-block;
    stroke-width: 0;
    stroke: var(--text-color);
    fill: var(--text-color);
    &:focus,
    &:hover {
        stroke: $accentColor;
        fill: $accentColor;
    }
}

.iconDelete_pet {
    padding: 2px;

    cursor: pointer;
    &:hover {
        fill: $accentColor;
    }
}
.iconArrowUp {
    fill: $lightColor;
    width: 50px;
    height: 50px;
}

.iconEdit_pet {
    fill: #111;
    &:hover {
        fill: $accentColor;
    }
}

.iconEdit_active {
    fill: #111;
    &:hover {
        fill: $accentColor;
    }
}
