@import '../../../../helpers/variables.module.scss';

.login {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.04em;
    color: $lightColor;
    cursor: pointer;
    padding: 8px 28px;
    background: #f59256;
    border-radius: 40px;
    border: 2px solid $accentColor;
    margin-right: 12px;

    &:hover,
    &:focus {
        background: var(--background-auth-nav-login);
        color: $accentColor;
    }

    @media screen and (min-width: 768px) {
        font-size: 20px;
        padding: 10px 28px;
    }
}

.register {
    display: inline-block;
    padding: 8px 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--background-auth-nav-register);
    border-radius: 40px;
    border: 2px solid $accentColor;

    &:hover,
    &:focus {
        background: $accentColor;
        color: $lightColor;
        border: 2px solid $accentColor;
    }

    @media screen and (min-width: 768px) {
        font-size: 20px;
        padding: 10px 28px;
    }
}
