.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(10px);
  z-index: 2000;
  overflow: hidden;
}

.modal__section {
  border-radius: 20px;
  background-color: var(--card-color);

  @media screen and (max-width: 768px) {
    height: 95%;
    overflow-y: scroll;
  }
}
