.header {
    padding: 13px 0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--background-color);
    flex-direction: row-reverse;


    @media screen and (min-width: 768px) {
        padding: 24px 0;
    }

    @media screen and (min-width: 1280px) {
        padding: 20px 0;

        &> [id="header"] {
            display: flex;
            justify-content: space-between;
        }
    }
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
