@import "../../../../helpers/variables.module.scss";

.account {
  position: relative;
  margin: 2px auto 0;
  width: 175px;
  padding: 11px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: $lightColor;
  cursor: pointer;
  border: 2px solid $accentColor;
  border-radius: 40px;
  background-color: $accentColor;

  &:hover {
    background: $lightColor;
    color: $accentColor;
    border: 2px solid $accentColor;

  &:focus {
  outline: none;
  }

  }
    .account:active {
      background-color: #111;
      color:$lightColor;
    }


  &>svg {
    fill: $lightColor;
    position: absolute;
    content: '';
    left: 11px;
    top: 50%;
    transform: translateY(-50%);


  }

  &:hover>svg,
  &:focus>svg {
    fill: $accentColor;
  }

  @media screen and (min-width: 768px) {
 
    font-size: 16px;
    position: relative;
  }

}


.avatarURL {

  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  content: '';
  left: 11px;
  top: 50%;
  transform: translateY(-50%);

}

