@import '../../helpers/container.module.scss';
@import '../../helpers/variables.module.scss';

.login__container {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    text-align: center;

    background: var(--background-color);
    background-image: url(../../images/wave-mobile-auth.png);
    background-position: bottom;
    background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;
}

.login__form__section {
    margin-left: auto;
    margin-right: auto;
    background: var(--background-color);
}

.login__tittle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.04em;
    margin: 0px 0px 40px;
    padding: 0;
    color: var(--text-color);
}

@media screen and (min-width: 768px) {
    .login__container {
        padding: 170px 0 266px;
        background-image: url(../../images/wave-tablet-auth.png);
        background-size: 1410px, 538px, contain;
        background-position: bottom -150px right -250px;
    }

    .login__form__section {
        background: var(--card-color);
        box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
        border-radius: 40px;
        padding: 60px 80px 40px;
    }

    .login__tittle {
        font-weight: 500;
        font-size: 36px;
        line-height: 49px;
    }
}

@media screen and (min-width: 1280px) {
    .login__container {
        padding: 44px 0 114px;
        background-position: bottom right;
        background-image: url(../../images/wave-desktop-auth.png);
    }

    .login__form__section {
        padding: 60px 80px;
        width: 50vw;
        background: var(--card-color);
    }
}
